
/*
* Some global styles, tiny bit
*/






body {
  margin: 0;
  font-family: "Onest Regular";
}
*[it-scrollable]::-webkit-scrollbar {
  overflow: auto;
  width: 4px;
  height: 4px;
}
*[it-scrollable]::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 999px;
}
*[it-scrollable]::-webkit-scrollbar-track {
  background-color: rgba(100, 116, 139, 0.15);
  border-radius: 999px;
}


/*
* 650px -- mobile breakpoint
*/



/* global vars */

:root {
  --main-color-1: #B0CDBD;
  --main-color-2: #E5EDE8;

  --text-color-1: #64748B;
  --text-color-2: #E1A76C;

  --highlight-color-1: #64748B;
  --highlight-color-2: #E1A76C;

  --white-color: #F5F5F5;

  --standard-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  --shading-color: rgba(0, 0, 0, 0.6);


  /* other */
  --content-width: 85%;
}

@media (max-width: 1550px) {
  :root {
    --content-width: 90%
  }
}












/* font kit */
@font-face {
  font-family: "Onest Regular";
  src: url("./assets/fonts/Onest/static/Onest-Regular.ttf");
}
@font-face {
  font-family: "Onest Medium";
  src: url("./assets/fonts/Onest/static/Onest-Medium.ttf");
}